<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Drucker - Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top text-white" style="background-color: #4CAF50;">
    <a class="navbar-brand" href="#">DRUCKER + FALK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/(token=${token})}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/best-practice(token=${token})}">Best Practice</a>
            <a class="nav-item nav-link" th:href="@{/decision(token=${token})}">Decision Tool</a>
            <a class="nav-item nav-link" th:href="@{/training(token=${token})}">Training Guide</a>
            <a class="nav-item nav-link" th:href="@{/message-board(token=${token})}">Message Board</a>
        </div>
    </div>
    <div class="navbar-collapse collapse">
        <ul th:if="${token == 'no-token'}" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
        <ul th:if="${token != 'no-token'}" class="navbar-nav ml-auto">
            <li class="nav-item">
                <div class="nav-link active" th:text="'Welcome, ' + ${user}"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout(token=${token})}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<!--<div class="topnav">-->
<!--<a class="active" href="/">Home</a>-->
<!--<a href="/best-practice">Best Practice</a>-->
<!--<a href="/decision">Decision Tool</a>-->
<!--<a href="/message-board">Message Board</a>-->
<!--<a href="/training">Training Guide</a>-->
<!--</div>-->

<div class="jumbotron">
    <h1 class="display-4 mt-5">Drucker Smart Solutions</h1>
    <hr class="my-4">
    <p class="lead">With Drucker Smart Solutions Utility, you can:</p>
    <ul class="">
        <li class="">Use the decisions to project future expenditures</li>
        <li class="">Use the message board to initiate or comment on topic discussions</li>
        <li class="">Use the training guide to speed up your on-boarding process</li>
        <li class="">Use the best practice to help familiarize with the company protocols</li>
    </ul>
</div>
<!--<h1>Drucker Smart Solutions</h1>-->
<!--<p>With Drucker Smart Solutions Utility, you can:</p>-->

<div class="card-group mt-3">
    <div class="card bg-transparent text-white text-center border-0">
        <img src="http://columbiabusinesstimes.com/wp-content/uploads/2019/02/agenda-analysis-business-990818.jpg" class="card-img thumb-post" alt="...">
        <div class="card-img-overlay h-100 d-flex flex-column justify-content-center">
            <h1 class="card-title">Introduction to Best Practice</h1>
            <p class="card-text">Use the best practice to help familiarize with the company protocols.</p>
            <p class="card-text">Last updated 3 mins ago</p>
            <a class="btn btn-outline-light btn-lg mt-5 mb-3" th:href="@{/best-practice(token=${token})}" role="button">Go to Best Practice</a>
        </div>
    </div>

    <div class="card bg-transparent text-white text-center border-0">
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/609ca456038285.599dba4e70fee.png" class="card-img thumb-post" alt="...">
        <div class="card-img-overlay h-100 d-flex flex-column justify-content-center">
            <h1 class="card-title">Introduction to Decision Tool</h1>
            <p class="card-text">Use the decisions to project future expenditures.</p>
            <p class="card-text">Last updated 12 mins ago</p>
            <a class="btn btn-outline-light btn-lg mt-5 mb-3" th:href="@{/decision(token=${token})}" role="button">Go to Decision Tool</a>
        </div>
    </div>
</div>

<div class="card-group my-3">
    <div class="card bg-transparent text-white text-center border-0">
        <img src="https://training.adobe.com/content/microsites/ats/en/home/training/courses/_jcr_content/hero-image.img.jpg/1501783071585.jpg" class="card-img thumb-post" alt="...">
        <div class="card-img-overlay h-100 d-flex flex-column justify-content-center">
            <h1 class="card-title">Introduction to Training Guide</h1>
            <p class="card-text">Use the training guide to speed up your on-boarding process.</p>
            <p class="card-text">Last updated 6 mins ago</p>
            <a class="btn btn-outline-light btn-lg mt-5 mb-3" th:href="@{/training(token=${token})}" role="button">Go to Training Guide</a>
        </div>
    </div>

    <div class="card bg-transparent text-white text-center border-0">
        <img src="http://www.adobe.com/content/dam/acom/en/training-services/images/ats-aalp-hero-1440x660.jpg" class="card-img thumb-post" alt="...">
        <div class="card-img-overlay h-100 d-flex flex-column justify-content-center">
            <h1 class="card-title">Introduction to Message Board</h1>
            <p class="card-text">Use the message board to initiate or comment on topic discussions.</p>
            <p class="card-text">Last updated 8 mins ago</p>
            <a class="btn btn-outline-light btn-lg mt-5 mb-3" th:href="@{/best-practice(token=${token})}" role="button">Go to Message Board</a>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div class="my-5" style="height: 80px;"></div>
<footer class="mt-5">
    <div class="container-fluid bg-dark py-3">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-9">
                    <h6 class="text-white">DRUCKER + FALK</h6>
                    <h6 class="text-white" style="opacity: 0.7;">Drucker + Falk is a performance driven real estate service and investment firm and among the most respected property management and commercial real estate companies in the country.</h6>
                </div>
                <div class="col-md-3">
                    <div class="d-inline-block">
                        <div class="bg-circle-outline d-inline-block">
                            <a href="https://www.facebook.com/" class="text-white">
                                <i class="fa fa-2x fa-fw fa-facebook"></i>
                            </a>
                        </div>

                        <div class="bg-circle-outline d-inline-block">
                            <a href="https://twitter.com/" class="text-white">
                                <i class="fa fa-2x fa-fw fa-twitter"></i>
                            </a>
                        </div>

                        <div class="bg-circle-outline d-inline-block">
                            <a href="https://www.linkedin.com/company/" class="text-white">
                                <i class="fa fa-2x fa-fw fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>