<!DOCTYPE HTML>
<html>
<head>
    <title>Drucker - Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top text-white" style="background-color: #4CAF50;">
        <a class="navbar-brand" href="#">DRUCKER + FALK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/best-practice">Best Pracitce</a>
                <a class="nav-item nav-link" href="/decision">Decision Tool</a>
                <a class="nav-item nav-link" href="/training">Training Guide</a>
                <a class="nav-item nav-link" href="/message-board">Message Board</a>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-4 mt-5">Login.</h1>
        <hr class="my-4">
        <p class="lead">Login your Drucker+Falk account, and start exploring.</p>
    </div>

    <div class="row">
        <div class="col-6 col-sm-12 mx-auto mx-5 my-3">
            <div class="card mx-5 px-5 py-5">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary my-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="my-5" style="height: 80px;"></div>
    <footer class="mt-5">
        <div class="container-fluid bg-dark py-3">
            <div class="container">
                <div class="row py-3">
                    <div class="col-md-9">
                        <h6 class="text-white">DRUCKER + FALK</h6>
                        <h6 class="text-white" style="opacity: 0.7;">Drucker + Falk is a performance driven real estate service and investment firm and among the most respected property management and commercial real estate companies in the country.</h6>
                    </div>
                    <div class="col-md-3">
                        <div class="d-inline-block">
                            <div class="bg-circle-outline d-inline-block">
                                <a href="https://www.facebook.com/" class="text-white">
                                    <i class="fa fa-2x fa-fw fa-facebook"></i>
                                </a>
                            </div>

                            <div class="bg-circle-outline d-inline-block">
                                <a href="https://twitter.com/" class="text-white">
                                    <i class="fa fa-2x fa-fw fa-twitter"></i>
                                </a>
                            </div>

                            <div class="bg-circle-outline d-inline-block">
                                <a href="https://www.linkedin.com/company/" class="text-white">
                                    <i class="fa fa-2x fa-fw fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>