<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Drucker - Post Detail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top text-white" style="background-color: #4CAF50;">
    <a class="navbar-brand" href="#">DRUCKER + FALK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/(token=${token})}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/best-practice(token=${token})}">Best Practice</a>
            <a class="nav-item nav-link" th:href="@{/decision(token=${token})}">Decision Tool</a>
            <a class="nav-item nav-link" th:href="@{/training(token=${token})}">Training Guide</a>
            <a class="nav-item nav-link active" th:href="@{/message-board(token=${token})}">Message Board</a>
        </div>
    </div>
    <div class="navbar-collapse collapse">
        <ul th:if="${token == 'no-token'}" class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
        <ul th:if="${token != 'no-token'}" class="navbar-nav ml-auto">
            <li class="nav-item">
                <div class="nav-link active" th:text="'Welcome, ' + ${user}"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout(token=${token})}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <h1 class="display-4 mt-5">Post Detail.</h1>
    <hr class="my-4">
</div>




<div class="container my-5">
    <div class="card px-5 py-5">
        <div class="card-header">
            Post Detail
        </div>
        <div class="card-body">
            <h5 class="card-title" th:text="${title}"></h5>
            <h6 class="card-subtitle mb-2 text-muted" th:text="${author}"></h6>
            <p class="card-text my-3" th:text="${content}"></p>
            <p class="card-text mt-3"><small class="text-muted" th:text="${time}"></small></p>
        </div>

        <h5 class="mt-5 mb-3">Comments</h5>
        <div class="row my-3">
            <button type="button" class="btn btn-primary col-md-2"> + Add Comment</button>
        </div>
        <ul class="list-group list-group-flush">
            <a th:each="comment: ${comments}" class="list-group-item list-group-item-action flex-column align-items-start">
                <p class="mb-1" th:text="${comment.content}" />
                <div class="d-flex w-100 justify-content-between align-items-center">
                    <small th:text="${comment.username}" />
                    <small th:text="${comment.stime}" />
                </div>
            </a>
        </ul>
    </div>
</div>




<!-- FOOTER -->
<div class="my-5" style="height: 80px;"></div>
<footer class="mt-5">
    <div class="container-fluid bg-dark py-3">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-9">
                    <h6 class="text-white">DRUCKER + FALK</h6>
                    <h6 class="text-white" style="opacity: 0.7;">Drucker + Falk is a performance driven real estate service and investment firm and among the most respected property management and commercial real estate companies in the country.</h6>
                </div>
                <div class="col-md-3">
                    <div class="d-inline-block">
                        <div class="bg-circle-outline d-inline-block">
                            <a href="https://www.facebook.com/" class="text-white">
                                <i class="fa fa-2x fa-fw fa-facebook"></i>
                            </a>
                        </div>

                        <div class="bg-circle-outline d-inline-block">
                            <a href="https://twitter.com/" class="text-white">
                                <i class="fa fa-2x fa-fw fa-twitter"></i>
                            </a>
                        </div>

                        <div class="bg-circle-outline d-inline-block">
                            <a href="https://www.linkedin.com/company/" class="text-white">
                                <i class="fa fa-2x fa-fw fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
