<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="header">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top text-white" style="background-color: #4CAF50;">
        <a class="navbar-brand" href="#">DRUCKER + FALK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/(token=${token})}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" th:href="@{/best-practice(token=${token})}">New User Guide</a>
                <a class="nav-item nav-link" th:href="@{/decision(token=${token})}">Decision Tools</a>
                <a class="nav-item nav-link" th:href="@{/training(token=${token})}">Employee Training</a>
                <a class="nav-item nav-link" th:href="@{/message-board(token=${token})}">Forum</a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul th:if="${token == 'no-token'}" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
            <ul th:if="${token != 'no-token'}" class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="nav-link active" th:text="'Welcome, ' + ${user}"></div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout(token=${token})}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="header-light">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top text-white" style="background-color: #4CAF50;">
        <a class="navbar-brand" href="#">DRUCKER + FALK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/(token=${token})}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" th:href="@{/best-practice(token=${token})}">New User Guide</a>
                <a class="nav-item nav-link" th:href="@{/decision(token=${token})}">Decision Tools</a>
                <a class="nav-item nav-link" th:href="@{/training(token=${token})}">Employee Training</a>
                <a class="nav-item nav-link" th:href="@{/message-board(token=${token})}">Forum</a>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <div class="my-5" style="height: 80px;"></div>
    <footer class="mt-5">
        <div class="container-fluid bg-dark py-3">
            <div class="container">
                <div class="row py-3">
                    <div class="col-md-9">
                        <h6 class="text-white">DRUCKER + FALK</h6>
                        <h6 class="text-white" style="opacity: 0.7;">Drucker + Falk is a performance driven real estate service and investment firm and among the most respected property management and commercial real estate companies in the country.</h6>
                    </div>
                    <div class="col-md-3">
                        <div class="d-inline-block">
                            <div class="bg-circle-outline d-inline-block">
                                <a href="https://www.facebook.com/" class="text-white">
                                    <i class="fa fa-2x fa-fw fa-facebook"></i>
                                </a>
                            </div>

                            <div class="bg-circle-outline d-inline-block">
                                <a href="https://twitter.com/" class="text-white">
                                    <i class="fa fa-2x fa-fw fa-twitter"></i>
                                </a>
                            </div>

                            <div class="bg-circle-outline d-inline-block">
                                <a href="https://www.linkedin.com/company/" class="text-white">
                                    <i class="fa fa-2x fa-fw fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>

</html>