<!DOCTYPE HTML>
<html>
<head>
    <title>Drucker - Training Guide</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top text-white" style="background-color: #4CAF50;">
        <a class="navbar-brand" href="#">DRUCKER + FALK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/best-practice">Best Pracitce</a>
                <a class="nav-item nav-link" href="/decision">Decision Tool</a>
                <a class="nav-item nav-link" href="/training">Training Guide</a>
                <a class="nav-item nav-link" href="/message-board">Message Board</a>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-4 mt-5">Training Guide.</h1>
        <hr class="my-4">
        <p class="lead">Explore All Your Training Modules Here.</p>
    </div>

    <!-- CARD GROUP -->
    <!-- use PLACEHOLDER CARD rightnow, will use code to generate cards later. -->
    <div class="card-columns mx-3 my-3">
        <div class="card mb-3" style="max-width: 540px;">
            <img src="https://cdn.vox-cdn.com/thumbor/D6ZQVoBT2IqYk8_TMGuhu-LlJgs=/0x0:3000x1909/1200x675/filters:focal(1300x1252:1780x1732)/cdn.vox-cdn.com/uploads/chorus_image/image/57949269/ExtMorning1061.2.0.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Training Module #1</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
                <img src="https://static.spacecrafted.com/c801f659374847c580d973201a5ab050/i/ab28ac185ce7463a81be41515c2324d3/1/GCuCv726gZycFxatRJX4qr/_DSC7553.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Training Module #2</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
                </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
                <img src="https://cdn.vox-cdn.com/thumbor/S9AaoZCIy6QYSuWr77cJyDjQbsI=/0x0:5100x3400/1200x675/filters:focal(2142x1292:2958x2108)/cdn.vox-cdn.com/uploads/chorus_image/image/57949461/_D47R9T__1_.0.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Training Module #3</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
                <img src="http://fhpbuilders.com/img/weitzner-exterior-slider.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Training Module #4</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">Last updated 12 mins ago</small></p>
                </div>
        </div>

        <div class="card mb-3" style="max-width: 540px;">
            <img src="http://cdn.home-designing.com/wp-content/uploads/2015/05/modern-home-exterior.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Training Module #5</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

    </div>

    <!-- FOOTER -->
    <div class="my-5" style="height: 80px;"></div>
    <footer class="mt-5">
        <div class="container-fluid bg-dark py-3">
            <div class="container">
                <div class="row py-3">
                    <div class="col-md-9">
                        <h6 class="text-white">DRUCKER + FALK</h6>
                        <h6 class="text-white" style="opacity: 0.7;">Drucker + Falk is a performance driven real estate service and investment firm and among the most respected property management and commercial real estate companies in the country.</h6>
                    </div>
                    <div class="col-md-3">
                        <div class="d-inline-block">
                            <div class="bg-circle-outline d-inline-block">
                                <a href="https://www.facebook.com/" class="text-white">
                                    <i class="fa fa-2x fa-fw fa-facebook"></i>
                                </a>
                            </div>

                            <div class="bg-circle-outline d-inline-block">
                                <a href="https://twitter.com/" class="text-white">
                                    <i class="fa fa-2x fa-fw fa-twitter"></i>
                                </a>
                            </div>

                            <div class="bg-circle-outline d-inline-block">
                                <a href="https://www.linkedin.com/company/" class="text-white">
                                    <i class="fa fa-2x fa-fw fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>