<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yueyingwu.testapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestNewCommentActivity"></activity>
        <activity
            android:name=".PostDetailActivity"
            android:label="@string/message_name" />
        <activity
            android:name=".ViewPostActivity"
            android:label="VIEW POST" />
        <activity
            android:name=".NewPost"
            android:label="NEW POST" />
        <activity
            android:name=".PlumbingInputActivity"
            android:label="@string/title_activity_plumbing_input"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestionMarkActivity"
            android:label="@string/title_activity_question_mark"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BulbInputActivity"
            android:label="@string/title_activity_bulb_input"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrainQuizActivity"
            android:label="@string/Quiz_name" />
        <activity
            android:name=".LoginJBDCActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".TrainPoolActivity"
            android:label="@string/Guide3_name" />
        <activity
            android:name=".TrainLightActivity"
            android:label="@string/Guide2_name" />
        <activity
            android:name=".TrainSustainActivity"
            android:label="@string/Guide1_name" />
        <activity android:name=".loginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".UserActivity" />
        <activity
            android:name=".PracticeActivity"
            android:label="@string/practice_name" />
        <activity
            android:name=".MessageBoxActivity"
            android:label="@string/message_name" />
        <activity
            android:name=".TrainingActivity"
            android:label="@string/train_name" />
        <activity
            android:name=".DesicionActivity"
            android:label="@string/decision_name" />
    </application>

</manifest>